@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.dark {
  color-scheme: dark;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #374151 #111827;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  

 
*::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 3px;
    border: 0px solid #ffffff;
  }
*::-webkit-scrollbar-track {
    background: transparent;
  }
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
.taskAnimation-enter-active,
.taskAnimation-exit-active {
  transition: opacity 150ms;
}
.taskAnimation{
transition:all 150ms;
}
.taskAnimation-enter,
.taskAnimation-exit-to {
  opacity: 0;
}


.shake{
		animation-name: vibrate-fast;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-fill-mode: none;
		
	}
    @keyframes vibrate-very-fast {	
		0% {
			transform:translate(0)  rotate(0deg);
            transform-origin:30%,70%
		}
		10% {
			transform:translate(-1px,-1px)  rotate(0deg);
		}
		20% {
			transform:translate(1px,-1px)  rotate(1deg);
		}
		30% {
			transform:translate(-1px,1px)  rotate(-1deg);
		}
		40% {
			transform:translate(1px,1px)  rotate(1deg);
		}
		50% {
			transform:translate(-1px,-1px)  rotate(-1deg);
		}
		60% {
			transform:translate(1px,-1px)  rotate(1deg);
		}
		70% {
			transform:translate(-1px,1px)  rotate(-1deg);
		}
		80% {
			transform:translate(-1px,-1px)  rotate(1deg);
		}
		90% {
			transform:translate(1px,-1px)  rotate(0deg);
		}
		100% {
			transform:translate(0)rotate(0deg);
		}
	}
	@keyframes vibrate-fast {	
		0% {
			transform:translate(0);
		}
		10% {
			transform:translate(-1px,-1px);
		}
		20% {
			transform:translate(1px,-1px);
		}
		30% {
			transform:translate(-1px,1px);
		}
		40% {
			transform:translate(1px,1px);
		}
		50% {
			transform:translate(-1px,-1px);
		}
		60% {
			transform:translate(1px,-1px);
		}
		70% {
			transform:translate(-1px,1px);
		}
		80% {
			transform:translate(-1px,-1px);
		}
		90% {
			transform:translate(1px,-1px);
		}
		100% {
			transform:translate(0);
		}
	}
@keyframes puff-out-center {
			
		0% {
			transform:scale(1);
			filter:blur(0);
			opacity:1;
		}
		100% {
			transform:scale(2);
			filter:blur(4px);
			opacity:0;
		}
	}
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }
}
